<!DOCTYPE HTML>
<html>
<head>
    <title>VIN Generator: Generate unic VIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <button type="submit">Сгенерировать VIN</button>
</div>
<div>Here is your VIN code: {{code}}</div>
<br>
{{#codes}}
    <div>
        <b>{{VINcode}}</b>
    </div>
{{/codes}}
</body>
</html>